h1{
    border-style: solid; padding-left: 220px;background-color:bisque ;
}
.main{
    width: 500px;background-color: darkcyan;
     border-style: solid; padding: 20px;
}
img{
width: 500px; border-style: solid
}
p{
    border-style: solid; padding: 15px;background-color:bisque ;
}
ul{
    border-style: solid; background-color:bisque ;
}